target
.project
.classpath
.settings
.manager
.launch
.svn
.DS_Store
reference/output/*.aux
reference/output/*.log
reference/output/*.out
*.tex~
*.tex.backup
*.swp
.scala_dependencies
*.iml
*.ipr
*.iws
.scala_dependencies
